/bitrix/
/company/
/contacts/
/desktop_app/
/include/
/services/
/login/
/news/
/products/
/search/
upload

!local/
!local/**

/.access.php
/.htaccess
.idea/

/.bottom.menu.php
/.section.php
/.top.menu.php
/favicon.ico
/index.php
/info.php
/storage.php

404.php
bx_1c_sync.php
urlrewrite.php

